<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="../static/styles/style.css">
    <title>Document</title>
    <style>
        .btn{
            padding: 0.5em 1.5em;
        }
    </style>
</head>
<body> 
    <navbar>
        <a href="./main.html" class="btn">Главная</a>
        <a href="./profile.html" class="btn">Профиль</a>
        <a href="#" class="btn">Выйти</a>
    </navbar>

    <column>
        <split>
            <photo class="button">
                <div>
                поменять изображение
                </div>
            </photo>
            <column>
                <div class="field">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
                <button type="button">
                    Изменить
                </button>
            </column>
        </split>
    </column>
</body>
</html>