:root {
    --background-color: white;
    --header-text-color: black;
    --shadow-color: rgba(34, 60, 80, 0.6);
    --contra-color: grey;
    --back-color: rgb(192, 187, 187);
}

h1 {
    font-size: 20px;
    text-align: center;
}

.registration {
    margin-top: 100px;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;    
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-inline: 5%;
    padding-block: 3%;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: var(--contra-color);
    box-shadow: 0px 0px 7px 0px var(--shadow-color);
}
.password-container {
    position: relative;
}
.password-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%; /* Занимает всю ширину родителя */
}

.eye-icon {
    cursor: pointer; 
    color: black; 
}

/* кнопки */
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
navbar {
    position: sticky; /*навигация сверху всегда*/
    top: -1px;
    z-index: 100;
  
    display: flex;
    justify-content: right;
    align-items: center;

    height: 50px;
    width: 100%;

    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    background-color: var(--background-color);
}

navbar * {
    padding: 2%;
    text-decoration: none;
    color: var(--header-text-color);
}

column {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 70%;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    background-color: var(--background-color);
}

column > photo {
    background-image: none;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    width: 60vh; 
    height: 60vh;   
}

div {
    font-size: 18px;
    color: var(--header-text-color);
    padding-inline: 5vw;
    padding-block: 2vh;
}
column > split {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-block: 2vh;
}

split photo {
    background-image: none;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    width: 30vmin; 
    height: 30vmin;
}

split column {
    box-shadow: none;
    width: 30%;
}


photo:hover * {
    opacity: 1;
}
photo * {
    opacity: 0;
}