:root {
    --background-color: white;
    --header-text-color: rgb(255, 255, 255);
    --shadow-color: rgba(34, 60, 80, 0.6);
    --contra-color: grey;
    --back-color: rgb(192, 187, 187);
    --back-colorGreen: rgb(0, 128, 128);
    --back-colorDesert: rgb(214, 192, 162);
    --back-colorWhite: rgb(255, 255, 255);
    --back-colorWhite2: rgb(255, 255, 255);
    --div-color: rgb(29, 29, 29);
}

h1 {
    font-size: 20px;
    text-align: center;
}

.registration {
    margin-top: 100px;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;   
    scale: 1.4; 
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back-colorDesert);
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-inline: 5%;
    padding-block: 3%;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: var(--contra-color);
    box-shadow: 0px 0px 7px 0px var(--shadow-color);
}
.password-container {
    position: relative;
}
.password-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%; /* Занимает всю ширину родителя */
    padding-inline: 0;
}

.eye-icon {
    cursor: pointer; 
    color: black; 
    padding-left: 5px;
}

/* кнопки */
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.special-btn1{
    color: white;
    border-radius: 20px;
    background: linear-gradient(45deg,#20df2d,#11bcfa );
    margin: 0 50px;
    border: 1px solid #ccc;  /* уменьшение толщины границы */
    border-radius: 20px;       /* и здесь */
}
.special-btn1 {
    font-family: 'Courier New', Courier, monospace; /* Применяем другой шрифт для кнопок с классом special-btn1 */
}
.special-btn2{
    color: white;
    border-radius: 20px;
    background: linear-gradient(45deg,#20df2d,#11bcfa );
    margin: 0 50px;
    border: 1px solid #ccc;  /* уменьшение толщины границы */
    border-radius: 20px;       /* и здесь */
}
.special-btn2 {
    font-family: 'Courier New', Courier, monospace; /* Применяем другой шрифт для кнопок с классом special-btn1 */
}
navbar {
    position: sticky; /*навигация сверху всегда*/
    top: -1px;
    z-index: 100;
  
    display: flex;
    justify-content: right;
    align-items: center;

    height: 50px;
    width: 100%;

    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    background-color: var(--background-color);
    background-color: var(--back-colorGreen);
    text-shadow: 0px 5px 10px #000000;
}


navbar * {
    padding: 2%;
    text-decoration: none;
    color: var(--header-text-color);
}

column {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 70%;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    background-color: var(--back-colorWhite);
}

column > photo {
    background-image: none;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    width: 60vh; 
    height: 60vh;   
}

div {
    font-size: 18px;
    color: var(--div-color);
    padding-inline: 5vw;
    padding-block: 2vh;
}
split {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-block: 2vh;
}

split photo {
    background-image: none;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    width: 30vmin; 
    height: 30vmin;
}

split column {
    box-shadow: none;
    width: 30%;
}


photo:hover * {
    opacity: 1;
}
photo * {
    opacity: 0;
}

photo {
    border-radius: 15px;
    border-color: var(--contra-color);
    border-style: solid;
}
/* подвал */
footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 45%;
    color: var(--header-color);
    background-color: var(--contra-color);
    font-size: 20px;
    background-color: var(--back-colorGreen);
  }
  footer > ul {
    margin: 0;
  }
  footer * {
    text-decoration: none;
    color: var(--info-text-color);
  }
  footer > * {
    padding: 2vw;
  }
  footer img {
    width: 64px;
    padding-inline: 1vw;
  }
  @media only screen and (max-width: 540px) {
    footer {
      display: block;
      justify-content: center;
    }
    footer img {
      width: 12vw
    }
  }