:root {
    --background-color: white;
    --header-text-color: rgb(255, 255, 255);
    --shadow-color: rgba(34, 60, 80, 0.6);
    --contra-color: grey;
    --back-color: rgb(192, 187, 187);
    --back-colorGreen: rgb(0, 128, 128);
    --back-colorDesert: rgb(214, 192, 162);
    --back-colorWhite: rgb(255, 255, 255);
    --back-colorWhite2: rgb(255, 255, 255);
}

h1 {
    font-size: 20px;
    text-align: center;
}

.registration {
    margin-top: 100px;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;    
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back-colorDesert);
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-inline: 5%;
    padding-block: 3%;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: var(--contra-color);
    box-shadow: 0px 0px 7px 0px var(--shadow-color);
}
.password-container {
    position: relative;
}
.password-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%; /* Занимает всю ширину родителя */
}

.eye-icon {
    cursor: pointer; 
    color: black; 
}

/* кнопки */
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.special-btn1{
    color: white;
    border-radius: 20px;
    background: linear-gradient(45deg,#20df2d,#11bcfa );
    margin: 0 50px;
    border: 1px solid #ccc;  /* уменьшение толщины границы */
    border-radius: 20px;       /* и здесь */
}
.special-btn1 {
    font-family: 'Courier New', Courier, monospace; /* Применяем другой шрифт для кнопок с классом special-btn1 */
}
.special-btn2{
    color: white;
    border-radius: 20px;
    background: linear-gradient(45deg,#20df2d,#11bcfa );
    margin: 0 50px;
    border: 1px solid #ccc;  /* уменьшение толщины границы */
    border-radius: 20px;       /* и здесь */
    margin: -50px;
}
.special-btn2 {
    font-family: 'Courier New', Courier, monospace; /* Применяем другой шрифт для кнопок с классом special-btn1 */
}
navbar {
    position: sticky; /*навигация сверху всегда*/
    top: -1px;
    z-index: 100;
  
    display: flex;
    justify-content: right;
    align-items: center;

    height: 50px;
    width: 100%;

    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    background-color: var(--background-color);
    background-color: var(--back-colorGreen);
    text-shadow: 0px 5px 10px #000000;
}


navbar * {
    padding: 2%;
    text-decoration: none;
    color: var(--header-text-color);
}

column {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 70%;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    background-color: var(--back-colorWhite);
}

column > photo {
    background-image: none;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    width: 60vh; 
    height: 60vh;   
}

div {
    font-size: 18px;
    color: var(--header-text-color);
    padding-inline: 5vw;
    padding-block: 2vh;
}
column > split {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-block: 2vh;
}

split photo {
    background-image: none;
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
    width: 30vmin; 
    height: 30vmin;
}

split column {
    box-shadow: none;
    width: 30%;
}


photo:hover * {
    opacity: 1;
}
photo * {
    opacity: 0;
}

photo {
    border-radius: 15px;
    border-color: var(--contra-color);
    border-style: solid;
}

/* chat */

/* ===== MENU ===== */

body.chats{
  background-color: var(--back-colorDesert);
}
.menu {
  height: 1000px;
  width: 70px;
  background: linear-gradient(var(--back-colorGreen), rgb(0, 66, 66));
  box-shadow: 0 10px 20px var(--shadow-color);
}

.menu .items {
  list-style:none;
  margin: auto;
  padding: 0;
}

.menu .items .item {
  height: 70px;
  border-bottom: 1px solid rgb(0, 66, 66);
  display:flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 17pt;
}

.menu .items .item-active {
  background-color:rgb(0, 66, 66);
  color: #FFF;
}

.menu .items .item:hover {
  cursor: pointer;
  background-color: rgb(0, 66, 66);
  color: #ffffff;
}


/* === CONVERSATIONS === */

.discussions {
  width: 35%;
  height: 1000px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
  overflow: hidden;
  background-color: #ffffff;
  display: inline-block;
}

.discussions .discussion {
  width: auto;
  height: 90px;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
}

.discussions .search .searchbar {
  height: 40px;
  background-color: #FFF;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #EEEEEE;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height:38px;
  width:100%;
  border:none;
  font-family: 'Montserrat', sans-serif;;
}


.discussions .message-active {
  width: 98.5%;
  height: 90px;
  background-color: #FFF;
  border-bottom: solid 1px #E0E0E0;
}

.discussions .discussion .photo {
    margin-left:5px;
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.desc-contact {
  height: 43px;
  width:50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  font-family:'Montserrat', sans-serif;
  font-size: 11pt;
  color:#515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 9pt;
  color:#515151;
}

.timer {
  margin-left: 15%;
  font-family:'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #BBB;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}

.chat {
  width: calc(65% - 85px);
  background-color: #ffffff;
}

.header-chat {
  background-color: #FFF;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
  display:flex;
  align-items: center;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color:#515151;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding: 25px 35px;
}

.chat .messages-chat .message {
  display:flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color:lightgrey;
  margin-bottom:10px;
  margin-left: 85px;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left:auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.footer-chat {
  width: calc(55% - 56px);
  height: 80px;
  display:flex;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #EEE;
  
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color:#C0C0C0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color:#fff;
  background-color: var(--back-colorGreen);
  position: absolute;
  right: 50px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border:none !important;
  width:60%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
  margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
}
  
  
/* подвал */
footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 45%;
    color: var(--header-color);
    background-color: var(--contra-color);
    font-size: 20px;
    background-color: var(--back-colorGreen);
  }
  footer > ul {
    margin: 0;
  }
  footer * {
    text-decoration: none;
    color: var(--info-text-color);
  }
  footer > * {
    padding: 2vw;
  }
  footer img {
    width: 64px;
    padding-inline: 1vw;
  }
  @media only screen and (max-width: 540px) {
    footer {
      display: block;
      justify-content: center;
    }
    footer img {
      width: 12vw
    }
  }